<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <script src="https://kit.fontawesome.com/142c4189eb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header-background-img" style="background-image:url('../static/img/background_5.jpg');">
        <div class="container-header">
            <header id="header">
                <nav class="nav-header">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Movies</a></li>
                        <li><a href="/">TV Shows</a></li>
                        <li><a href="/">Favorites</a></li>
                        <li><a class="search-btn" href="search/">Search Movies</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="title-container">
            <h1>The Movies Search Engine</h1>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>