{% extends 'base.html' %} {% block content %}

<div class="container-main">
  <main id="content-main">
    <div class="search-results">
      <ul>
        {% for query in query_list %}
        <li>
          <div class="figure">
            <a href="{{ query.url }}" target="_blank">
                <img src="{{ query.image }}" alt="{{ query.title }}" />
            </a>
          </div>
          <div class="figcaption">
            <div class="year">
              {% if query.year != 0 %} {{ query.year }} {% endif %}
            </div>
            <div class="rating">
              {% if query.rating != 0.0 %}
              <div class="rating-imdb">IMDb</div>
              <div class="rating-value">{{ query.rating }}</div>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="pagination-container">
      <ul class="pagination">
        {% if query_list.has_previous %}
        <i class="page-item">
          <a href="?{{ query_list }}&page={{ query_list.previous_page_number }}"><<</a>
          <a class="page-link" href="?{{ query_list }}&page=1">1</a>
        </i>
        {% endif %}
        {% if query_list.previous_page_number != 1 %}
        <i class="page-item">
          <a
            class="page-link"
            href="?{{ query_list }}&page={{ query_list.previous_page_number }}"
            >{{ query_list.previous_page_number }}</a
          >
        </i>
        {% endif %}
        {% for j in query_list.paginator.page_range %}
            {% if query_list.number == j %}
            <i class="page-item active">
            <a class="page-link active">{{ j }}</a>
            </i>
            {% endif %}
        {% endfor %}
        {% if query_list.has_next %}
          <i class="page-item">
            <a class="page-link" href="?{{ query_list }}&page={{ query_list.next_page_number }}"
              >{{ query_list.next_page_number }}</a
            >
          </i>
          {% if query_list.next_page_number != query_list.paginator.num_pages %}
          <i class="page-item">
            <a class="page-link" href="?{{ query_list }}&page={{ query_list.paginator.num_pages }}"
              >{{ query_list.paginator.num_pages }}</a
            >
          </i>
          {% endif %}
          <a href="?{{ query_list }}&page={{ query_list.next_page_number }}">>></a>
        {% endif %}
      </ul>
    </div>
  </main>
</div>

{% endblock %}
