/* VARIABLE DEFINITIONS */

:root {
    --primary-fg: #EEE;
    --primary-bg: #14161b;
    --secondary-bg: #205274;
    --secondary-fg: #CCC;
    --darker-bg: #080808;
    --shadow: 0px 0px 7px 0px #EEE;
  }
  
  /* General tags */
  
  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6em;
    color: var(--primary-fg);
    background-color: var(--primary-bg);
  }
  
  div {
    clear: both;
  }
  
  ul {
    clear: both;
  }
  
  li {
    list-style: none;
  }
  
  a {
    outline: none;
    text-decoration: none;
    color: var(--secondary-fg);
    font-style: normal;
  }
  
  a:active, a:focus {
    background: transparent;
  }
  
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
  }
  
  h4 {
    margin: 0 0 20px 0;
    line-height: normal;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }

  #header {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    margin: 0 auto;
    overflow: auto;
    background-color: inherit;
  }
  
  .container {
    overflow: auto;
    padding-left: 40px;
    background-color: var(--primary-bg)
  }
  
  .nav-header ul li {
    display: block;
    float: left;
    position: relative;
    padding: 20px;
  }
  
  .nav-header a:hover, .nav-header li:hover > a {
    color: var(--primary-fg);
    background-color: inherit;
  }
  
  .header-background-img {
    position: relative;
    z-index: 1;
    background-position: 0px -150px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header-background-img::after, .footer-background-img::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(rgba(20,22,27, 0) 0%,rgba(20,22,27, 1) 100%);
  }
  
  .search-main {
    padding: 50px 0px 620px 80px;
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    margin: 0 auto;
  }
  
  .search-main h1 {
    font-size: 40px;
    margin: 0 0 20px 0;
    line-height: normal;
    color: #AAA
  }
  
  .search-btn {
    padding: 12px 12px 14px 12px;
    border: 1px solid;
    color: #EEE;
    background-color: var(--secondary-bg);
    border-color: var(--secondary-bg);
    border-radius: 6px;
  }
  
  .search-btn:hover{
    color: inherit;
    background-color: transparent;
    border-color: inherit;
  }
  
  .container-main {
    padding-left: 3%;
    padding-right: 3%;
  }

  main {
    color: var(--secondary-fg);
  }
  
  .content {
    position: relative;
    margin: -100px 0 0 0;
    z-index: 1;
  }
  
  .content > ul > li {
    margin-bottom: 50px;
  }
  
  .content > ul > li:nth-child(6n + 1) {
    margin-left: 0;
    clear: left;
  }
  
  .content figure figcaption {
    display: block;
    padding: 15px 0 0 0;
  }
  
  .content figure figcaption .heading {
    margin: 0 0 20px 0;
    line-height: normal;
  }
  
  .content ul li {
    display: block;
    float: left;
    margin: 2% 0 2% 2%;
    width: 15%;
    perspective: 700px;
  }
  
  figure {
    margin: 0;
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }
  
  .content ul li:hover figure {
    transform: rotateY(35deg);
  }
  
  figure a {
    display: inline-block;
    position: relative;
    max-width: 100%;
  }

  figure a::before {
    display: block;
    position: absolute;
    content: "";
    opacity: 0;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  figure a img {
    border-radius: 20px;
    box-shadow: var(--shadow);
  }
  
  figure a:hover::before {
    /*background-color: rgba(0, 0, 0, 0.70);*/
  }
  
  figure a:hover::before, figure a:hover::after, .page-link::after {
    opacity: 1;
  }
  
  .pagination-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
  }
  
  .pagination {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }
  
  .page-item {
    float: left;
    margin-right: 4px;
  }
  
  .page-link {
    padding: 6px;
    border: 1px solid;
    background-color: var(--secondary-bg);
    border-color: var(--secondary-bg);
    border-radius: 3px;
  }
  
  .page-link:hover, .active {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
  }
  
  .footer-background-img {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }
  
  footer {
    
  }
  
  *, *::before, *::after {
    transition: all 0.3s ease-in-out;
  }
  
  @-ms-viewport {
    width: device-width;
  }
  
  @media screen and (min-width: 1140px) {
    header, main, footer, .search-main {
      max-width: 100%;
    }
  }
  
  @media screen and (min-width: 978px) and (max-width: 1140px) {
    header, main, footer, .search-main {
      max-width: 95%;
    }

    .header-background-img {
      background-position: top center;
    }
  }
  
  @media screen and (max-width: 978px) {
    header, main, footer, .search-main {
      max-width: 90%;
    }

    .header-background-img {
      background-position: top center;
    }
  }
  
  @media screen and (max-width: 750px) {
    .header-background-img {
      background-position: top center;
    }

    .content ul li {
      display: block;
      float: none;
      width: auto;
      margin: 0;
      padding: 60px;
    }
  }